@charset "utf-8";
body {
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
    background:#fff;
    color: #000;
    position: relative;
}

/**/
.header{
	position: relative;
    height: 0.5rem;
    line-height: 0.5rem;
    background:#bb1830 ;
}
.header .header-l{
    position: absolute;
    left: 0;
    top:0;
    padding-top:.1rem;
}
.header .header-l .item{
    float: left;
    margin-left:.1rem;
}
.header .header-l .goback{
    width:.3rem;
    height:.3rem;
    background: url(../img/public/icon-topbar.png) no-repeat;
    background-size:.3rem auto;
}
.header .header-r{
    position: absolute;
    right: 0;
    top:0;
    padding-top:.1rem;
}
.header .header-r .item{
    float: left;
    margin-right:.1rem;
}
        
.header .tit{
    font-size:.16rem;
    line-height:.5rem;
    color:#fff;
    text-align:center;
}

.mod-tit{
	margin-top:.1rem;
	padding:.05rem .1rem;
	background:#efefef
}