.list-group{
	margin:.2rem .15rem 0;
}
body,html{
	height:100%;
}
.panel-group{
	padding:.1rem;
}
.panel-mask{
	position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    opacity: 0;
    visibility:hidden;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}
.panel{
    position: absolute;
    z-index: 1000;
    left:.15rem;
    right:.15rem;
    top: 50%;
    text-align: center;
    border-radius: 0.35rem;
    opacity: 0;
    visibility:hidden;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%) ;
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
    color: #3d4145;
    background:#fff;
    border-radius:.05rem;
}
.panel-fdback{
	padding:.3rem 0;
	font-size:.15rem;
}
.panel .panel-hd{
	height:.36rem;
	line-height:.36rem;
	text-align: center;
	border-bottom:1px solid #ddd;
}
.panel .panel-hd .panel-tit{
	text-align: center;
	line-height:.36rem;
	font-size:.15rem;
	font-weight: normal;
}
.panel-tips{
	position: absolute;
    z-index: 1000;
    width:2rem;
    left:50%;
    top: 50%;
    text-align: center;
    border-radius: 0.35rem;
    opacity: 0;
    padding:.05rem 0;
    line-height: .2rem;
    visibility:hidden;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%) ;
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
    color: #3d4145;
    background:#fff;
    border-radius:.05rem;
    box-shadow: 0 0 2px 4px rgba(0,0,0,0.1)
}